
.container{
    background-color: rgb(226, 195, 15);
    height: 100vh;
}


.categories{
    height: 400px;
    width: 8vw;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    div{
        padding: 5px 0px 5px 15px;
        cursor: pointer;
        font-weight: bold;

        &:hover{
            background-color: aquamarine;
            color: rgb(25, 102, 102);
        }
    }

    .activeCategory{
        background-color: rgb(50, 170, 130);
        color: rgb(67, 209, 39);
    }

}
